div
{
	height: 150px;
	width: 98%;
}

img
{
	float: left;
	padding-top: 5px;
	margin:5px 70px;
}

form
{
	float: right;
	padding-top: 30px;
}

table
{
	float:right; 
	margin:45px 100px
}

#username
{
	width: 300px;
}

#password
{
	width: 175px;
}

#submit
{
	width: 120px;
	background-color: #EA9999;
	border: 2px solid #CA7979;
}
