<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dibmap</display-name>
  <listener>
    <listener-class>util.Initializer</listener-class>
  </listener>
  <context-param>
    <param-name>passwordLength</param-name>
    <param-value>6</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://dibmapdb.czdjllndzpgp.us-east-1.rds.amazonaws.com:3306/</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dbName</param-name>
    <param-value>dibmap</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>dibmap</param-value>
  </context-param>
  <context-param>
    <param-name>dbPass</param-name>
    <param-value></param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmailValidator</display-name>
    <servlet-name>EmailValidator</servlet-name>
    <servlet-class>servlets.EmailValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidator</servlet-name>
    <url-pattern>/EmailValidator</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SetCacheControl</filter-name>
    <filter-class>filters.CacheControlFilter</filter-class>
  </filter>                               
  <filter-mapping>
    <filter-name>SetCacheControl</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/errors/javaException.jsp</location>	
  </error-page>
  <error-page>
  	<exception-type>java.sql.SQLException</exception-type>
  	<location>/errors/mysqlError.jsp</location>	
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/errors/404.jsp</location>	
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/errors/500.jsp</location>	
  </error-page>                                                    
</web-app>