<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dibmap</display-name>
  
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>util.Initializer</listener-class>
  </listener>
  
  <context-param>
    <param-name>passwordLength</param-name>
    <param-value>6</param-value>
  </context-param>
  <context-param>
    <param-name>root</param-name>
    <param-value>/home/mihai/Workspaces/dibmap</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dbName</param-name>
    <param-value>dibmap</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>dibmap</param-value>
  </context-param>
  <context-param>
    <param-name>dbPass</param-name>
    <param-value>dibmapdb</param-value>
  </context-param>
  <context-param>
    <param-name>aws_key_id</param-name>
    <param-value>AKIAJU6WZLSBNTHEUFKQ</param-value>
  </context-param>
  <context-param>
    <param-name>aws_secret_key</param-name>
    <param-value>vx9UwnkxecLc1uxyOK6AoCQWv9kzp/XwPPLGgkfq</param-value>
  </context-param>
  <context-param>
    <param-name>default_email</param-name>
    <param-value>noreply@dibmap.com</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>www.dibmap.com</param-value>
  </context-param>
  <context-param>
    <param-name>confirm</param-name>
    <param-value>Confirm</param-value>
  </context-param>
 
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errors/javaException.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.sql.SQLException</exception-type>
    <location>/errors/mysqlError.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errors/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errors/500.jsp</location>
  </error-page>
  
  <filter>
    <filter-name>SetCacheControl</filter-name>
    <filter-class>filters.CacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetCacheControl</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>EmailValidator</display-name>
    <servlet-name>EmailValidator</servlet-name>
    <servlet-class>servlets.EmailValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidator</servlet-name>
    <url-pattern>/EmailValidator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSender</display-name>
    <servlet-name>EmailSender</servlet-name>
    <servlet-class>servlets.EmailSender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSender</servlet-name>
    <url-pattern>/EmailSender</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Confirm</display-name>
    <servlet-name>Confirm</servlet-name>
    <servlet-class>servlets.Confirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Confirm</servlet-name>
    <url-pattern>/Confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>